<section class="banner">
    <h1>Welcome to Ristorante Il Gambero Rosso</h1>
</section>
<div class="container">
    <section class="about">
        <h3>About Us</h3>
        <p>Welcome to Ristorante Il Gambero Rosso, where authentic Italian cuisine meets a warm and welcoming
            atmosphere.
            Situated in the heart of Padova Province, our restaurant is a culinary haven where the traditions of Italy
            come
            to life, offering a truly immersive experience for all your senses.
        </p>
        <br>
        <h3>Our Story</h3>
        <p>At Ristorante Il Gambero Rosso, our story begins with a deep love for the rich and diverse flavors of Italy.
            Our
            founders, Luca Rossi, Alessia Martini and Marco Moretti, brought their passion for Italian gastronomy to
            Padova
            Province with the dream of sharing their family's time-honored recipes with the world. The result is a
            restaurant that captures the essence of Italy through its cuisine, setting, and hospitality.</p>
        <br>
        <h3>A Family Tradition</h3>
        <p>At Ristorante Il Gambero Rosso, we treat every guest like family. Our restaurant is a place where laughter
            and
            conversation flow as freely as our wine, and where every bite transports you to the streets of Rome, the
            hills
            of Tuscany, or the shores of Sicily. We invite you to become a part of our extended family and share in our
            love
            for all things Italian.</p>
        <br>
    </section>

    <section class="contact">
        <h3>Contact Us</h3>
        <p> <b>Address:</b> Ristorante Il Gambero Rosso,
            Via del Gusto 123,
            35000, Padova,
            Padova Province, Italy<br> <b>Email:</b> info@gamberorosso-padova.it<br> <b>Phone:</b> +39 049 123 4567</p>
    </section>
</div>