<section class="banner">
    <div class="herotext">
        <h1>Welcome to Ristorante Il Gambero Rosso</h1>
        <h4>Delivering great food for more than 18 years!</h4>
        <button class="btn" routerLink="/menu">Our Menu</button> <button class="btn ">Book a Table</button>
    </div>
</section>
<div class="container">
    <h2>Ristorante Il Gambero Rosso</h2>
    <section class="main-content">
        <div class="restaurant-image">
            <img src="/assets/images/cont.jpg" alt="Ristorante Italia">
        </div>
        <div class="restaurant-description">
            <h4>Savor the taste of Italy with every bite at our authentic Italian restaurant, where culinary excellence
                meets unparalleled ambiance</h4>
            <p>Whether you're celebrating a special occasion, sharing a meal with loved ones, or simply satisfying your
                cravings for authentic Italian flavors, Ristorante Il Gambero Rosso is the perfect destination. Come and
                discover the true essence of Italy, one plate at a time.

                At Ristorante Il Gambero Rosso, we are more than just a restaurant; we are a journey through Italy's
                culinary heritage. We look forward to sharing our passion and flavors with you, and we can't wait to
                welcome you into our family.

                Buon appetito!

                Ristorante Il Gambero Rosso</p>
        </div>
    </section>

    <div class="choose" style="background-color: rgb(255, 193, 193); width: 107.3%;">
        <h2>Why chooce us</h2>
        <section class="why-choose">
            <div class="choose-option">
                <h3>1</h3>
                <h3>Authentic Italian Flavors</h3>
                <p>Indulge in a journey to Italy with our carefully crafted dishes prepared using traditional recipes
                    and the freshest ingredients.</p>
            </div>
            <div class="choose-option">
                <h3>2</h3>
                <h3>Cozy & Inviting Ambiance</h3>
                <p>Experience warm hospitality in a charming setting, where every visit feels like a heartwarming
                    Italian family gathering.</p>
            </div>
            <div class="choose-option">
                <h3>3</h3>
                <h3>Exquisite Wine Selection</h3>
                <p>Complement your meal with our extensive wine list, featuring the finest Italian wines expertly chosen
                    to enhance your dining experience.</p>
            </div>
        </section>

    </div>

    <div class="check">
        <h2>Check our specials</h2>
        <h4 class="m-3">Experience the tantalizing flavors of Italy with our seasonal delights</h4>
        <div>
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">Risotto Primavera</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Zucchini Blossom Fritters</button>
                    <button class="nav-link" id="v-pills-food-tab" data-bs-toggle="pill" data-bs-target="#v-pills-food"
                        type="button" role="tab" aria-controls="v-pills-food" aria-selected="false" food>
                        Butternut Squash Ravioli</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">Strawberry Salad</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Tiramisu Gelato</button>
                </div>


                <div class="tab-content m-3" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab" tabindex="0">A creamy, springtime risotto bursting with fresh
                        asparagus, peas, and fragrant herbs.
                        <div> <img src="/assets/images/ris.jpg" width="400" alt="risotto"></div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab" tabindex="0">Crispy and delicate fritters stuffed with
                        ricotta and zucchini blossoms, capturing the essence of summer.
                        <div> <img src="/assets/images/zuc.jpg" width="300" alt="zucchini"></div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-food" role="tabpanel" aria-labelledby="v-pills-food-tab"
                        tabindex="0">Delight in the rich and comforting flavors of autumn with homemade ravioli filled
                        with roasted butternut squash and a drizzle of brown butter sage sauce.
                        <div><img src="/assets/images/rav.jpg" width="300" alt="ravioli"></div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab" tabindex="0">Indulge in the vibrant flavors of summer
                        with our Strawberry Salad, a delightful medley
                        of
                        sweet, ripe strawberries, fresh greens, and a zesty vinaigrette.
                        <div> <img src="/assets/images/straw.jpg" width="300" alt="salad"></div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab" tabindex="0"> Indulge in a cool and creamy treat for
                        dessert, our Tiramisu gelato, reminiscent of
                        the
                        beloved Italian dessert, perfect for any season.
                        <div> <img src="/assets/images/tir.jpg" width="300" alt="tiramisu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>